      <!-- Navigation-->
      <nav class="navbar navbar-expand-md navbar-dark bg-primary-dark d-none d-md-block">
        <div class="container px-5">
          <a class="navbar-brand" href="/">OC6</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link {{ app.request.get('_route') == 'app_homepage' ? 'active' : 'text-secondary' }}" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {{ app.request.get('_route') == 'app_tricks' ? 'active' : 'text-secondary' }}" href="{{ path('app_tricks') }}">Tricks</a>
              </li>
              {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item">
                    <a class="nav-link bg-primary-darker rounded mx-3 px-4 {{ app.request.get('_route') == 'app_trick_new' ? 'active' : 'text-secondary' }}" href="{{ path('app_trick_new') }}">Add new trick</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                      <button class="btn btn-primary-dark dropdown-toggle text-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ app.user.username }}
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/profile">My profile</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a></li>
                      </ul>
                    </div>
                </li>
              {% else %}
                  <li class="nav-item">
                      <a class="nav-link {{ app.request.get('_route') == 'app_login' ? 'active' : 'text-secondary' }}" href="{{ path('app_login') }}">Sign in</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link {{ app.request.get('_route') == 'app_register' ? 'active' : 'text-secondary' }}" href="{{ path('app_register') }}">Register</a>
                  </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>

<div class="d-flex justify-content-around align-items-center bg-primary-darker navbar-mobile position-fixed bottom-0 d-md-none">
    <a href="/" class="fs-3 text-light text-center my-2">
        <i class="bi {{ app.request.get('_route') == 'app_homepage' ? 'bi-house-fill' : 'bi-house' }}"></i>
    </a>
    <a href="/tricks" class="fs-3 text-light text-center my-2">
        <i class="bi bi-list-ul"></i>
    </a>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="/trick/new" class="fs-3 text-light text-center my-2">
            <i class="bi {{ app.request.get('_route') == 'app_trick_new' ? 'bi-bookmark-fill' : 'bi-bookmark' }}"></i>
        </a>
        <a href="/profile" class="fs-3 text-light text-center my-2">
            <i class="bi {{ app.request.get('_route') == 'app_user_profile' ? 'bi-person-fill' : 'bi-person' }}"></i>
        </a>
        <a href="/logout" class="fs-3 text-light text-center my-2">
            <i class="bi bi-box-arrow-right"></i>
        </a>
    {% else %}
        <a href="/login" class="fs-3 text-light text-center my-2">
            <i class="bi {{ app.request.get('_route') in ['app_login', 'app_register'] ? 'bi-person-fill' : 'bi-person' }}"></i>
        </a>
    {% endif %}
</div>
