{# templates/security/forgot_password.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Forgot Password{% endblock %}

{% block body %}
    <div class="container w-50 py-5">
        <h1 class="text-center">Forgout your password ?</h1>
        <div class="text-center text-secondary">We will send you a link to reset it.</div>

        {{ form_start(forgotPasswordForm, {'attr': {'class': 'border border px-2 py-4 rounded mt-4 shadow w-75 m-auto'}}) }}
            <div class="w-75 m-auto d-flex flex-column gap-4">
                {% for flashMessage in app.flashes('success') %}
                    <div class="alert alert-success mb-4">{{ flashMessage }}</div>
                {% endfor %}
                {% for flashMessage in app.flashes('danger') %}
                    <div class="alert alert-danger mb-4">{{ flashMessage }}</div>
                {% endfor %}

                <div class="form-group">
                    <div class="mb-2">
                        {{ form_label(forgotPasswordForm.username, 'Username') }}
                    </div>
                {{ form_widget(forgotPasswordForm.username, {
                    'attr': {
                        'class': 'form-control',
                    }
                }) 
                }}
                </div>

                <div class="text-center mt-3">
                    <button class="btn btn-primary" type="submit">Reset Password</button>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <a href="{{ path('app_login') }}">Back to Sign in</a>
                </div>
            </div>
        {{ form_end(forgotPasswordForm) }}
    </div>
{% endblock %}
