{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container w-50 py-5">
        <h1 class="text-center text-light mb-4">Register</h1>

        {{ form_start(form) }}

        <div class="border border px-2 py-4 rounded mt-4 shadow w-75 m-auto">
            <div class="w-50 m-auto d-flex flex-column gap-4">
                <div class="form-group">
                    <div class="mb-2 text-light">
                        {{ form_label(form.username) }}
                    </div>
                    {{ form_widget(form.username, {
                        'attr': {
                            'class': 'form-control',
                            'autofocus': true
                        }
                    }) }}
                    {{ form_errors(form.username) }}
                </div>
                <div class="form-group">
                    <div class="mb-2 text-light">
                        {{ form_label(form.email) }}
                    </div>
                    {{ form_widget(form.email, {
                        'attr': {
                            'class': 'form-control',
                        }
                    }) }}
                    {{ form_errors(form.email) }}
                </div>
                <div class="form-group">
                    <div class="mb-2 text-light">
                        {{ form_label(form.plainPassword, 'Password') }}
                    </div>
                    {{ form_widget(form.plainPassword, {
                        'attr': {
                            'class': 'form-control',
                        }
                    }) }}
                    {{ form_errors(form.plainPassword) }}
                </div>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-light w-25">Register</button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
