{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/trick.css') }}"/>
{% endblock %}

{% block title %}Trick {{ trick.name }}{% endblock %}


{% block body %}
<section>
    <div class="container w-75 p-5">
        <div class="banner d-flex justify-content-center align-items-center position-relative">
            <img class="card-img-top img-fluid rounded w-100" src="{{ asset('assets/uploads/' ~ trick.pictures.first.url) }}">
            <div class="overlay-text display-1 position-absolute text-light">{{ trick.name }}</div>
        </div>
        <div class="row gx-4 my-5">
        {% for picture in trick.pictures %}
            <div class="col-md-2">
                <img src="{{ asset('assets/uploads/' ~ picture.url) }}" class="img-fluid rounded">
            </div>
        {% endfor %}
        {% for video in trick.videos %}
            <div class="col-md-2">
                <div class="embed-responsive embed-responsive-16by9">
                <iframe class="img-fluid" width="560" height="315" src="https://www.youtube.com/embed/8KotvBY28Mo?si=ZzWj7Az1B2Cs5lqu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                </div>
            </div>
        {% endfor %}
        </div>
        <div class="">
            {{ trick.description }}
        </div>
        <div class="row w-75 mx-auto y-5 border-bottom border-dark py-5">
            <div class="col-12 col-md-4">
                <div class="border border-dark rounded p-2 text-center">{{ trick.createdAt|date('d/m/Y H:i') }}</div>
            </div>
            <div class="col-12 col-md-4">
                <div class="border border-dark rounded p-2 text-center">{{ trick.category.name }}</div>
            </div>
            <div class="col-12 col-md-4">
                <div  class="border border-dark rounded mx-auto p-2 text-center">{{ trick.updatedAt|date('d/m/Y H:i') }}</div>
            </div>
        </div>
        <div class="w-75 mx-auto py-5 border-bottom border-dark text-center">
            <h2>Add a comment</h2>
            {{ form_start(form) }}
                {{ form_widget(form.text) }}
                <button type="submit" class="btn btn-primary">Submit</button>
            {{ form_end(form) }}
        </div>
        <div class="w-75 mx-auto my-5 d-flex flex-column gap-3">
        {% for commentMain in trick.commentMains %}
        <div class="row align-items-center">
            <div class="col-2 d-flex flex-column align-items-center gap-2">
                <img class="rounded-circle" style="width:60px; height:auto"src="{{ asset('assets/avatar/' ~ commentMain.author.avatar) }}">
                <div class="">{{ commentMain.author.firstName }}</div>
            </div>
            <div class="col-10 border border-dark rounded p-3">{{ commentMain.text }}</div>
        </div>
        {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
